<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.rogersdk.aula04">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BoundServiceActivity"
            android:label="Bound Service Activity"
            >

        </activity>

        <!--Declaraçao do LifecycleService-->
        <service android:name="br.com.rogersdk.aula04.LifecycleService"
            android:label="Lifecycle Service" />

        <service android:name="br.com.rogersdk.aula04.BoundService"
            android:label="Bound Service" />

        <service android:name="br.com.rogersdk.aula04.ExampleIntentService"
            android:label="Example Intent Service" />

        <service android:name="br.com.rogersdk.aula04.ForegroundService"
            android:label="Example Intent Service" />

        <receiver android:name=".ServiceBroadcastReceiver">
            <intent-filter>
                <action android:name="br.com.rogersdk.aula04.SERVICES"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".PowerManagementBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
